{% extends 'base/auth.html' %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <!-- Start Sign In Form -->
                <form method="POST" action="" class="fh5co-form animate-box" data-animate-effect="fadeIn">
                    <h2>电表后台登录面板</h2>
                    <div class="form-group">
                        <label for="username" class="sr-only">username</label>
                        {{ form.csrf_token }}
                        {% if form.username.errors %}
                            {{ form.username(class="form-control",id="username",placeholder="用户名/邮箱") }}
                            <div class="error-display">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control",id="username",placeholder="用户名/邮箱") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">password</label>
                        {{ form.csrf_token }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control",id="password",placeholder="密码") }}
                            <div class="error-display">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control",id="password",placeholder="密码") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="remember">{{ form.remember(type="checkbox",id="remeber") }}记住我</label>

                    </div>
                    <div class="form-group">
                        <p>未注册？ <a href="{{ url_for('auth.register') }}">注册</a> | <a
                                href="{{ url_for('auth.forgot') }}">忘记密码?</a>
                        </p>
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-block",value="登录") }}
                    </div>
                </form>
                <!-- END Sign In Form -->

            </div>
        </div>
        <div class="row" style="padding-top: 60px; clear: both;">
            <div class="col-md-12 text-center">
                <p>
                    <small>©2018-2028 cse.whu All Rights Reserved.</small>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
