{% extends 'base/auth.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">


                <!-- Start Sign In Form -->
                <form method="POST" action="" class="fh5co-form animate-box" data-animate-effect="fadeInRight">
                    <div class="form-group" style="text-align: center;color: #4e342e;font-size: larger">
                        <span>电表备案系统注册面板</span>
                    </div>
                    <div class="form-group">
                        <label for="corpname" class="sr-only">CorpName</label>
                        {{ form.csrf_token }}
                        {% if form.corpname.errors %}
                            {{ form.corpname(class="form-control",id="corpname",placeholder="公司名") }}
                            <div class="error-display">
                                {% for error in form.corpname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.corpname(class="form-control",id="corpname",placeholder="公司名") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="username" class="sr-only">Name</label>
                        {{ form.csrf_token }}
                        {% if form.username.errors %}
                            {{ form.username(class="form-control",id="username",placeholder="用户名") }}
                            <div class="error-display">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control",id="username",placeholder="用户名") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">Email</label>
                        {{ form.csrf_token }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control",id="email",placeholder="邮箱") }}
                            <div class="error-display">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control",id="email",placeholder="邮箱") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        {{ form.csrf_token }}
                        {% if form.password.errors %}
                            <img id="demo_img" onclick="hideShowPsw()" src="/static/auth/images/visible.png">
                            {{ form.password(class="form-control",id="password",placeholder="密码") }}
                            <div class="error-display">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <img id="demo_img" onclick="hideShowPsw()" src="/static/auth/images/visible.png">
                            {{ form.password(class="form-control",id="password",placeholder="密码") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="re-password" class="sr-only">Re-type Password</label>
                        {{ form.csrf_token }}
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control",id="re-password",placeholder="重复密码") }}
                            <div class="error-display">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="form-control",id="re-password",placeholder="重复密码") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <p>已经注册过? <a href="{{ url_for('auth.login') }}">登录</a></p>
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-block",value="注册") }}
                    </div>
                </form>
                <!-- END Sign In Form -->


            </div>
        </div>
        <div class="row" style="padding-top: 60px; clear: both;">
            <div class="col-md-12 text-center">
                <p>
                    <small>©2018-2028 cse.whu All Rights Reserved.</small>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
