{% extends 'base/layout.html' %}

{% block content %}
    <div class="row">

        <div class="span10">

            <div class="slate">

{#                <div class="page-header">#}
                    <div class="row-fluid">
                        <div class="box span12">
                            <div class="box-header">
                                <h2><i class="icon-edit"></i>填写备案信息</h2>
                            </div>
                            <div class="box-content">
                                <div id="MyWizard" class="wizard">
                                    <ul class="steps">
                                        <li data-target="#step1" class="active"><span class="badge badge-info">1</span>
                                        </li>
                                        <li data-target="#step2"><span class="badge">2</span></li>
                                        <li data-target="#step3"><span class="badge">3</span></li>
                                        {#                                        <li data-target="#step4"><span class="badge">4</span></li>#}
                                        {#                                        <li data-target="#step5"><span class="badge">5</span></li>#}
                                    </ul>
                                    <div class="actions">
                                        <button type="button" class="btn btn-prev"><i class="icon-arrow-left"></i> 上一步
                                        </button>
                                        <button type="button" class="btn btn-success btn-next" data-last="完成">下一步
                                            <i class="icon-arrow-right"></i></button>
                                    </div>
                                </div>
                                <div class="step-content">
                                    <div class="step-pane active" id="step1">
                                        <form class="form-horizontal"/>
                                        <fieldset>
                                            <div class="control-group success">
                                                <label class="control-label" for="inputWarning">此账号用户名</label>
                                                <div class="controls">
                                                    <input type="text" id="inputWarning"/>
                                                    {#                                                    {% for error in errors %}#}
                                                    {#                                                    <span class="help-inline">Something may have gone wrong</span>#}
                                                    {#                                                    <span class="help-inline">oooo</span>#}
                                                    {#                                                    {% endfor %}#}
                                                </div>
                                            </div>
                                            <div class="control-group success">
                                                <label class="control-label" for="inputError">此账号密码</label>
                                                <div class="controls">
                                                    <input type="text" id="inputError"/>
                                                    {#                                                       {% for error in errors %}#}
                                                    {#                                                    <span class="help-inline">Something may have gone wrong</span>#}
                                                    {#                                                    <span class="help-inline">oooo</span>#}
                                                    {#                                                    {% endfor %}#}
                                                </div>
                                            </div>
                                            <div class="control-group success">
                                                <label class="control-label" for="inputSuccess"></label>
                                                <div class="controls">
                                                    {{ recaptcha }}

                                                    {#                                                       {% for error in errors %}#}
                                                    {#                                                    <span class="help-inline">Something may have gone wrong</span>#}
                                                    {#                                                    <span class="help-inline">oooo</span>#}
                                                    {#                                                    {% endfor %}#}
                                                </div>
                                            </div>

                                        </fieldset>
                                        </form>
                                    </div>

                                    <div class="step-pane" id="step2">
                                        <form class="form-horizontal"/>
                                        <fieldset>
                                            <div class="control-group">
                                                <label class="control-label" for="selectError30">选择备案信息种类</label>
                                                <div class="controls">
                                                    <select id="selectError30">
                                                        <option>
                                                            正常备案
                                                        </option>
                                                        <option>
                                                            代码修改
                                                        </option>
                                                        <option>
                                                            修复电表
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label" for="selectError20">区域选择</label>
                                                <div class="controls">
                                                    <select data-placeholder="请选择电表安装所在区域"
                                                            id="selectError20" data-rel="chosen">
                                                        <option value=""/>
                                                        <optgroup label="北京">
                                                            <option>
                                                                一环
                                                            </option>
                                                            <option>
                                                                二环
                                                            </option>
                                                            <option>
                                                                三环
                                                            </option>
                                                            <option>
                                                                四环
                                                            </option>

                                                        </optgroup>
                                                        <optgroup label="新疆">
                                                            <option>
                                                                一环
                                                            </option>
                                                            <option>
                                                                二环
                                                            </option>
                                                            <option>
                                                                三环
                                                            </option>
                                                            <option>
                                                                四环
                                                            </option>
                                                        </optgroup>
                                                        <optgroup label="浙江">
                                                            <option>
                                                                一环
                                                            </option>
                                                            <option>
                                                                二环
                                                            </option>
                                                            <option>
                                                                三环
                                                            </option>
                                                            <option>
                                                                四环
                                                            </option>
                                                        </optgroup>
                                                        <optgroup label="湖北">
                                                            <option>
                                                                一环
                                                            </option>
                                                            <option>
                                                                二环
                                                            </option>
                                                            <option>
                                                                三环
                                                            </option>
                                                            <option>
                                                                四环
                                                            </option>
                                                        </optgroup>
                                                        <optgroup label="天津">
                                                            <option>
                                                                一环
                                                            </option>
                                                            <option>
                                                                二环
                                                            </option>
                                                            <option>
                                                                三环
                                                            </option>
                                                            <option>
                                                                四环
                                                            </option>
                                                        </optgroup>
                                                        <optgroup label="山东">
                                                            <option>
                                                                一环
                                                            </option>
                                                            <option>
                                                                二环
                                                            </option>
                                                            <option>
                                                                三环
                                                            </option>
                                                            <option>
                                                                四环
                                                            </option>
                                                        </optgroup>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="fileInput">上传文件</label>
                                                <div class="controls">
                                                    <input class="input-file uniform_on " id="fileInput"
                                                           type="file"/>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="step-pane" id="step3">
                                        <div class="alert alert-info">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            <strong>注意</strong> 这是备案责任声明
                                        </div>
                                        <p>
                                            ....
                                            ...

                                            ..
                                            ....
                                        </p>
                                        <div class="controls">
                                            <label class="checkbox inline">
                                                <input type="checkbox" id="inlineCheckbox2" value="option5"/>
                                                阅读并同意
                                            </label>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>


{% endblock %}