{% extends 'base/layout.html' %}

{% block content %}
    <div class="span10">

        <div class="main-area dashboard">
            <div class="row">
                <div class="span10">
                    <div class="slate">

                        <div class="form-horizontal row ">
                            <div class="span5 col-md-5">
                            <input type="text" class="input-large " placeholder="输入编号或者日期进行查询">
                            </div>

                              <div class="input-daterange input-group ">
                                <input type="text" class="input-sm form-control span2" name="start">
                                <span class="input-group-addon ">至</span>
                                <input type="text" class="input-sm form-control span2" name="end">
                                <button type="submit" class="btn btn-primary">查询</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="span10">

                    <div class="slate">

                        <div class="page-header">
                            <div class="btn-group pull-right">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-download-alt"></i> 导出
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="">CSV</a></li>
                                    <li><a href="">Excel</a></li>
                                    <li><a href="">PDF</a></li>
                                </ul>
                            </div>
                            <h2>备案记录</h2>
                        </div>

                        <table class="orders-table table">
                            <thead>
                            <tr>
                                <th>记录编号</th>
                                <th class="value">状态</th>
                                <th class="actions">审核人员编号</th>
                                <th class="actions">详细信息</th>

                            </tr>
                            </thead>
                            <tbody>
                            {#                            {% for rec in records %}#}
                            <tr>
                                <td><a href="#">#12345</a> <span
                                        class="label label-info">新</span><br/><span
                                        class="meta">2018-8-4 13:12:57</span>
                                </td>
                                <td class="value">已通过
                                </td>
                                <td class="actions">
                                    <a class="btn btn-small btn-primary" href="#">89757</a>
                                </td>
                                <td class="actions">
                                    <a class="btn btn-small btn-info" href="#">详情</a>
                                </td>
                            </tr>
                            {#                            {% endfor %}#}


                            </tbody>
                        </table>

                    </div>

                </div>

                <div class="span5">

                    <div class="pagination pull-left">
                        <ul>
                            <li><a href="#">上一页</a></li>
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">下一页</a></li>
                        </ul>
                    </div>

                </div>

                <div class="span5 listing-buttons pull-right">
                    {##}
                    {#                    <button class="btn btn-info">Action</button>#}
                    {##}
                    {#                    <button class="btn btn-success">Action</button>#}

                    <button class="btn btn-success">新增备案</button>

                </div>

            </div>

        </div>

    </div> <!-- end span10 -->

    </div> <!-- end row -->

{% endblock %}
