{% extends 'base/base.html' %}

{% block content %}

    {#        <div class="">#}
    {#            <div class="page-title">#}
    {#                <div class="title_left">#}
    {#                    <h3>新增备案</h3>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="clearfix"></div>#}
    <div class="page-title">
        <div class="title_left">
            <h3>新增备案</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><a class="fa fa-search"></a></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>备案信息采集表
                        <small>请按照要求申报备案</small>
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">


                    <!-- Smart Wizard -->
                    <div id="wizard" class="form_wizard wizard_horizontal">
                        <ul class="wizard_steps">
                            <li>
                                <a href="#step-1">
                                    <span class="step_no">1</span>
                                    <span class="step_descr">
                                              第一步<br/>
                                              <small>申报单位信息</small>
                                          </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-2">
                                    <span class="step_no">2</span>
                                    <span class="step_descr">
                                             第二步<br/>
                                              <small>备案基本信息</small>
                                          </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-3">
                                    <span class="step_no">3</span>
                                    <span class="step_descr">
                                              第三步<br/>
                                              <small>上传备案相关文件</small>
                                          </span>
                                </a>
                            </li>

                        </ul>
                        <div id="step-1">
                            <form class="form-horizontal form-label-left">

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                        申报单位<span class="required"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {#                                        <input type="text" id="first-name" required="required"#}
                                        {#                                               class="form-control col-md-7 col-xs-12">#}
                                        {% if form.corpname.errors %}
                                            {{ form.corpname(class="form-control col-md-7 col-xs-12",id="corpname",type="text") }}
                                            <div class="error-display col-md-7 col-xs-12"
                                                 style="margin-top: 5px;color: red;opacity: 0.7;">
                                                {% for error in form.corpname.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.corpname(class="form-control col-md-7 col-xs-12",id="corpname",type="text") }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="last-name">
                                        申报人<span class="required"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {#                                        <input type="text" id="last-name" name="last-name" required="required"#}
                                        {#                                               class="form-control col-md-7 col-xs-12">#}
                                        {% if form.agent.errors %}
                                            {{ form.agent(class="form-control col-md-7 col-xs-12",id="agent",type="text") }}
                                            <div class="error-display col-md-7 col-xs-12"
                                                 style="margin-top: 5px;color: red;opacity: 0.7;">
                                                {% for error in form.agent.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.agent(class="form-control col-md-7 col-xs-12",id="agent",type="text") }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="last-name">
                                        联系电话<span class="required"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {#                                        <input type="text" id="last-name" name="last-name" required="required"#}
                                        {#                                               class="form-control col-md-7 col-xs-12">#}
                                        {% if form.contact_number.errors %}
                                            {{ form.contact_number(class="form-control col-md-7 col-xs-12",id="contact_number",type="text") }}
                                            <div class="error-display col-md-7 col-xs-12"
                                                 style="margin-top: 5px;color: red;opacity: 0.7;">
                                                {% for error in form.contact_number.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.contact_number(class="form-control col-md-7 col-xs-12",id="contact_number",type="text") }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="last-name">
                                        申请时间<span class="required"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {#                                        <input type="text" id="last-name" name="last-name" required="required"#}
                                        {#                                               class="form-control col-md-7 col-xs-12">#}
                                        {% if form.request_date.errors %}
                                            {{ form.request_date(class="form-control col-md-7 col-xs-12",id="request_date",type="text") }}
                                            <div class="error-display col-md-7 col-xs-12"
                                                 style="margin-top: 5px;color: red;opacity: 0.7;">
                                                {% for error in form.request_date.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.request_date(class="form-control col-md-7 col-xs-12",id="request_date",type="text") }}
                                        {% endif %}
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div id="step-2">
                            <form class="form-horizontal form-label-left">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="last-name">
                                        备案类型<span class="required"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {% if form.record_type.errors %}
                                            {{ form.record_type(class="form-control col-md-7 col-xs-12",id="record_type",type="text") }}
                                            <div class="error-display col-md-7 col-xs-12"
                                                 style="margin-top: 5px;color: red;opacity: 0.7;">
                                                {% for error in form.record_type.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.record_type()}}
                                        {% endif %}
                                    </div>
                                </div>
                                {#                                <div class="form-group">#}
                                {#                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">#}
                                {#                                        备案标题<span class="required"></span>#}
                                {#                                    </label>#}
                                {#                                    <div class="col-md-6 col-sm-6 col-xs-12">#}
                                {#                                        <input type="text" id="first-name" required="required"#}
                                {#                                               class="form-control col-md-7 col-xs-12">#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {##}
                                {#                                <label for="heard" class="col-md-3 col-sm-3 col-xs-12">Heard us by *:</label>#}
                                {#                                <select id="heard" class="form-control col-md-6 col-sm-6 col-xs-12" required>#}
                                {#                                    <option value="">Choose..</option>#}
                                {#                                    <option value="press">Press</option>#}
                                {#                                    <option value="net">Internet</option>#}
                                {#                                    <option value="mouth">Word of mouth</option>#}
                                {#                                </select>#}


                            </form>

                        </div>
                        <div id="step-3">

                        </div>
                    </div>
                    <!-- End SmartWizard Content -->


                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}