{% extends 'base/base.html' %}

{% block content %}
    {#    title#}
    <div class="page-title">
        <div class="title_left">
            <h3>个人信息</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><a class="fa fa-search"></a></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>概览
                        <small>备案报告</small>
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                        <div class="profile_img">
                            <div id="crop-avatar">
                                <!-- Current avatar -->
                                <img class="img-responsive avatar-view" src="/static/backend/images/lf.jpg" alt="Avatar"
                                     title="Change the avatar">
                            </div>
                        </div>
                        <h3>泰丰电表</h3>

                        <ul class="list-unstyled user_data">
                            <li><i class="fa fa-map-marker user-profile-icon"></i> 浙江温州市龙湾区沙城镇沧宁东片工业区
                            </li>

                            <li>
                                <i class="fa fa-phone user-profile-icon"></i> 0577-86833099
                            </li>

                            <li class="m-top-xs">
                                <i class="fa fa-external-link user-profile-icon"></i>
                                <a href="http://www.tfele.com/" target="_blank">企业官网</a>
                            </li>
                        </ul>

                        <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>更改信息</a>
                        <br/>

                        <!-- start skills -->

                        <!-- end of skills -->

                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">

                        <div class="profile_title">
                            <div class="col-md-6">
                                <h2>备案记录一览</h2>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="datefilter" class="form-control pull-right" value=""
                                       title="date">
                            </div>
                        </div>
                        <!-- start of user-activity-graph -->
                        <div class="">
                            <div class="clearfix"></div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="x_panel">
                                        <div class="x_content">
                                            <!-- start project list -->
                                            <table class="table table-striped projects">
                                                <thead>
                                                <tr>
                                                    <th style="width: 1%">#</th>
                                                    <th style="width: 20%">备案编号</th>
                                                    <th>审批人员</th>
                                                    <th>备案有效时间</th>
                                                    <th>状态</th>
                                                    <th style="width: 20%">操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
{#                                                {% for record in records %}#}
                                                    <tr>
                                                        <td>#</td>
                                                        <td>
                                                            <a>#12854</a>
                                                            <br/>
                                                            <small>创建于 2018-7-141</small>
                                                        </td>
                                                        <td>
                                                            <ul class="list-inline">
{#                                                                {% for person in plist %}#}
                                                                <li>
                                                                    <img src="/static/backend/images/user.png" class="avatar"
                                                                         alt="Avatar">
                                                                </li>

{#                                                                {% endfor %}#}
                                                            </ul>
                                                        </td>
                                                        <td class="project_progress">
                                                            <div class="progress progress_sm">
                                                                <div class="progress-bar bg-green" role="progressbar"
                                                                     data-transitiongoal="57"></div>
                                                            </div>
                                                            <small>剩余5年共计10年</small>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-success btn-xs">过审
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <a href="#" class="btn btn-primary btn-xs"><i
                                                                    class="fa fa-folder"></i> 查看 </a>
                                                            <a href="#" class="btn btn-info btn-xs"><i
                                                                    class="fa fa-pencil"></i> 编辑</a>
                                                            <a href="#" class="btn btn-danger btn-xs"><i
                                                                    class="fa fa-trash-o"></i> 删除 </a>
                                                        </td>
                                                    </tr>
{#                                                {% endfor %}#}
                                                </tbody>
                                            </table>
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="dataTables_info" id="datatable-checkbox_info"
                                                         role="status" aria-live="polite" style="margin-top: 20px">
                                                        显示前10组数据，共计57组数据
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div class="dataTables_paginate paging_simple_numbers"
                                                         id="datatable-checkbox_paginate">
                                                        <ul class="pagination">
                                                            <li class="paginate_button previous disabled"
                                                                id="datatable-checkbox_previous"><a href="#"
                                                                                                    aria-controls="datatable-checkbox"
                                                                                                    data-dt-idx="0"
                                                                                                    tabindex="0">Previous</a>
                                                            </li>
                                                            <li class="paginate_button active"><a href="#"
                                                                                                  aria-controls="datatable-checkbox"
                                                                                                  data-dt-idx="1"
                                                                                                  tabindex="0">1</a>
                                                            </li>
                                                            <li class="paginate_button "><a href="#"
                                                                                            aria-controls="datatable-checkbox"
                                                                                            data-dt-idx="2"
                                                                                            tabindex="0">2</a></li>
                                                            <li class="paginate_button "><a href="#"
                                                                                            aria-controls="datatable-checkbox"
                                                                                            data-dt-idx="3"
                                                                                            tabindex="0">3</a></li>
                                                            <li class="paginate_button "><a href="#"
                                                                                            aria-controls="datatable-checkbox"
                                                                                            data-dt-idx="4"
                                                                                            tabindex="0">4</a></li>
                                                            <li class="paginate_button "><a href="#"
                                                                                            aria-controls="datatable-checkbox"
                                                                                            data-dt-idx="5"
                                                                                            tabindex="0">5</a></li>
                                                            <li class="paginate_button "><a href="#"
                                                                                            aria-controls="datatable-checkbox"
                                                                                            data-dt-idx="6"
                                                                                            tabindex="0">6</a></li>
                                                            <li class="paginate_button next"
                                                                id="datatable-checkbox_next"><a href="#"
                                                                                                aria-controls="datatable-checkbox"
                                                                                                data-dt-idx="7"
                                                                                                tabindex="0">Next</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end project list -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}